html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  vertical-align: middle;
  text-align: center;
}

div {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

img {
  width: 100%;
  max-width: 25em;
  margin: 1.5rem;
  display: block;
}

h2 {
  margin: .5rem .5rem .5rem 1.5rem;
  text-align: left;
  font-weight: 700;
}

p {
  margin: 1.5rem;
  margin-bottom: 0;
  max-width: 25em;
  text-align: left;
}

.btn {
  margin: 1.5rem;
  float: left;
  background-color: #f2f2f2;
  border: 3px solid #333;
  color: black;
  border-radius: 4px;
  text-decoration: none;
  padding: .5em;
}

.btn:hover {
  background-color: #666;
  border: 3px solid #666;
  color: #f2f2f2;
}
