html {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  max-width: 25em;
  line-height: 1.5;
}

div>h2 {
  color: #333;
}

img {
  display: inline-block;
  margin-bottom: 0 auto 2rem;
  margin: 1.5rem;
  padding: .4em .75em .5em;
  text-align: center;
}

p {
  text-align: left;
  color: #333;
}

.btn {
  width: 200px;
  height: 50px;
}
